.logo:hover {
  animation: putarZ 2s linear 0s infinite;
}

@keyframes putarZ {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.service-icon:hover {
  animation:  bounceIn 1.9s linear 0.1s 1;
  /*background-color: #fff;*/
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);    
    opacity: 0.1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.profil-tim {
  height: 500px;
  margin-top: 100px;
    animation: timanimation 1s ease-in-out;
}

@keyframes timanimation {
  0%{
    margin-bottom: -40px;
  }
  30%{
  letter-spacing: 25px;
  margin-bottom:-40px;
  }
  85%{
    letter-spacing: 8px;
    argin-bottom: -40px;
  }
}

.message h2 {
  margin-bottom: 10px;
  font-size: 40px;
  animation: messageanimation 3s steps(27);
}
@keyframes messageanimation {
  from {width: 0}
  to {width: 100%}
}

.heading > * {
  overflow: hidden;
  white-space: nowrap;
  animation: topanimation 3s steps(27);
}
@keyframes topanimation {
  from {width: 0}
  to {width: 100%}
}